---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- sta_100x100.png you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Portfolio" description="James – Strategic Tech Consultant. Systems Thinking | Agile Leadership | Secure Architectures">
	<Card
	  name="Se Thu Aung @ James"
	  position="Solutions Consultant"
	  aboutMe={`Solutions Consultant | System Design & Development | Digital Forensics | Fintech & Digital Banking | Data Science | Passionate Tutor`}
	  linkedin="https://www.linkedin.com/in/sethuaung"
	  github="https://github.com/sethuaung"
	  cvLink="/files/resume-cv.pdf"
	  profileImage="/images/sta_100x100.png"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm James. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/sethuaung}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->
